<div class="mca-3diphone" id="iphone-wrapper">
    <script type="importmap">
            {
                "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
                }
            }
            </script>
    <script type="module">

			import * as THREE from 'three';

			import Stats from 'three/addons/libs/stats.module.js';

			import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
			import { FBXLoader } from 'three/addons/loaders/FBXLoader.js';
			import { GUI } from 'three/addons/libs/lil-gui.module.min.js';

			const manager = new THREE.LoadingManager();

			let camera, scene, renderer, stats, object, loader, guiMorphsFolder;
			let mixer;

			const clock = new THREE.Clock();
            const parent = document.getElementById('iphone-wrapper');

			const params = {
				asset: 'Samba Dancing'
			};

			const assets = [
				'Samba Dancing',
				'morph_test'
			];


			init();

			function init() {

				const container = document.createElement( 'div' );
                container.classList.add('three-iphone');
                const parent = document.getElementById('iphone-wrapper');
                parent.appendChild( container );

				camera = new THREE.PerspectiveCamera( 45, parent.clientWidth / parent.clientHeight, 1, 2000 );
				camera.position.set( 100, 200, 300 );

				scene = new THREE.Scene();

				const hemiLight = new THREE.HemisphereLight( 0xffffff, 0x444444, 5 );
				hemiLight.position.set( 0, 200, 0 );
				scene.add( hemiLight );

				const dirLight = new THREE.DirectionalLight( 0xffffff, 5 );
				dirLight.position.set( 0, 200, 100 );
				dirLight.castShadow = true;
				dirLight.shadow.camera.top = 180;
				dirLight.shadow.camera.bottom = - 100;
				dirLight.shadow.camera.left = - 120;
				dirLight.shadow.camera.right = 120;
				scene.add( dirLight );

				// scene.add( new THREE.CameraHelper( dirLight.shadow.camera ) );

			
				loader = new FBXLoader( manager );
				loadAsset( params.asset );

				renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( parent.clientWidth, parent.clientHeight );
				renderer.setAnimationLoop( animate );
				renderer.shadowMap.enabled = true;
				container.appendChild( renderer.domElement );

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.enableZoom = false;
                controls.enablePan = false;
                controls.minPolarAngle = Math.PI / 2;
                controls.maxPolarAngle = Math.PI / 2;
                controls.target.set( 0, 100, 0 );
				controls.update();

				window.addEventListener( 'resize', onWindowResize );



			}

			function loadAsset( asset ) {

				loader.load( 'https://threejs.org/examples/models/fbx/' + asset + '.fbx', function ( group ) {

					if ( object ) {

						object.traverse( function ( child ) {

							if ( child.material ) {

								const materials = Array.isArray( child.material ) ? child.material : [ child.material ];
								materials.forEach( material => {

									if ( material.map ) material.map.dispose();
									material.dispose();
			
								} );
			
							}
			
							if ( child.geometry ) child.geometry.dispose();

						} );

						scene.remove( object );

					}

					//

					object = group;

					if ( object.animations && object.animations.length ) {

						mixer = new THREE.AnimationMixer( object );

						const action = mixer.clipAction( object.animations[ 0 ] );
						action.play();

					} else {

						mixer = null;

					}

			

					object.traverse( function ( child ) {

						if ( child.isMesh ) {

							child.castShadow = true;
							child.receiveShadow = true;

							if ( child.morphTargetDictionary ) {

								guiMorphsFolder.show();
								const meshFolder = guiMorphsFolder.addFolder( child.name || child.uuid );
								Object.keys( child.morphTargetDictionary ).forEach( ( key ) => {
			
									meshFolder.add( child.morphTargetInfluences, child.morphTargetDictionary[ key ], 0, 1, 0.01 );
			
								} );
			
							}

						}

					} );

					scene.add( object );

				} );

			}

			function onWindowResize() {

				camera.aspect = parent.clientWidth / parent.clientHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( parent.clientWidth, parent.clientHeight );

			}

			//

			function animate() {

				const delta = clock.getDelta();

				if ( mixer ) mixer.update( delta );

				renderer.render( scene, camera );

			}

		</script>
</div>